:root {
  --level1: 1rem;
  --level2: 3rem;
  --level3: 5rem;
}

.container {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  align-items: baseline;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 3em;
  height: 1.5em;
}

.box1 {
  background-color: teal;
  font-size: var(--level1);
}

.box2 {
  background-color: tomato;
  font-size: var(--level2);
}

.box3 {
  font-size: var(--level3);
  background-color: turquoise;
}

.box4 {
  font-size: var(--level2);
  background-color: violet;
}

.box5 {
  font-size: var(--level1);
  background-color: yellowgreen;
}

.box1,
.box5 {
  width: 4.5em;
  height: 2.5em;
}
